.spotlight{
    width: 1140px;
    height: 900px;
    background-color: #1d71932c;
    margin-left: 165px;
    margin-top: 40px;
}
.artist{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    padding-top: 40px;
}
.box{
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-top: 40px;
}